@import services._
@(id: Int, artistForm: Form[Artist])(implicit request: MessagesRequestHeader)

<html>
<head>
    <title>ジャニーズ　みんなのコンサートレポ</title>
</head>
<body>
<h1>Artist Edit</h1>

@helper.form(action = routes.ArtistController.artistUpdate(id)) {
@helper.CSRF.formField

    <fieldset>

        @helper.inputText(artistForm("name"), '_label -> "グループ名")
        @helper.inputText(artistForm("name_read"), '_label -> "読み方")

    </fieldset>

    <input type="submit" value="登録">

}

@helper.form(action = routes.ArtistController.artistDelete(id)) {
@helper.CSRF.formField

    <input type="submit" value="削除" class="btn danger">

}
</body>
</html>